<%= form_with(model: @staff, local: true) do |form| %>
  <% if @staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= @staff.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @staff.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="staff_name_field">
    <%= form.label :name %><br />
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-id-card"></i></div>
      </div>
      <%= form.text_field :name, id: "shop-staff-name" %>
    </div>
  </div>

  <div class="staff_role_field">
    <%= form.label :role %><br />
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-user-tag"></i></div>
      </div>
      <%= form.text_field :role, id: "shop-staff-role" %>
    </div>
  </div>

  <div class="staff_sex_field">
    <%= form.label :sex %><br />
    <%= form.label :man %>
    <%= form.radio_button :sex, :man, id: "shop-staff-sex-man" %>
    <%= form.label :woman %>
    <%= form.radio_button :sex, :woman, id: "shop-staff-sex-woman" %>
  </div>

  <div class="staff_work_history_field">
    <%= form.label :work_history %><br />
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-history"></i></div>
      </div>
      <%= form.text_field :work_history, id: "shop-staff-work_history" %>年
    </div>
  </div>

  <div class="staff_description_field">
    <%= form.label :description %><br />
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-clipboard"></i></div>
      </div>
      <%= form.text_area :description, id: "shop-staff-description" %>
    </div>
  </div>

  <div class="staff_image_field">
    <%= form.label :image %><br />
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="far fa-image"></i></div>
      </div>
      <%= form.file_field :image, id: "shop-staff-image" %>
    </div>
  </div>

  <%= form.button :submit, id: "shop-staff-submit", class: "btn btn-success mt-2" %>
<% end %>
