<h2 class="text-center"><%= t('.sign_up') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="name_field text-center">
    <%= f.label :name %><br />
    <p class="control has-icons-left">
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
      <%= f.text_field :name, autofocus: true, :placeholder => "name", class: "input", id: "devise-registrations-new-name"%>
    </p>
  </div>

  <div class="email_field text-center">
    <%= f.label :email %>
    <p class="control has-icons-left">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "email", class: "input", id: "devise-registrations-new-email" %>
    </p>
  </div>

  <div class="password_field text-center">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
    <% end %>
    <p class="control has-icons-left">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
      <%= f.password_field :password, autocomplete: "new-password", :placeholder => "password", class: "input", id: "devise-registrations-new-password" %>
    </p>
  </div>

  <div class="password_confirmation_field text-center">
    <%= f.label :password_confirmation %>
    <p class="control has-icons-left">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "password confirmation", class: "input", id: "devise-registrations-new-password_confirmation" %>
    </p>
  </div>

  <div class="actions text-center mb-2">
    <%= f.submit t('.sign_up'), id:"devise-registrations-new-sign_up", class:"btn btn-primary" %>
  </div>
<% end %>

<div class="text-center"><%= render "devise/shared/links" %></div>
