<%= form_with(model: @shop, local: true) do |form| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= @shop.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @shop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %><br />
    <%= form.text_field :name, class: "shop-new-name" %>
  </div>

  <div class="field">
    <%= form.label :post_code %><br />
    <%= form.text_field :post_code, class: "shop-new-post_code" %>
  </div>

  <div class="field">
    <%= form.label :prefecture_code %><br />
    <%= form.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, { prompt: '選択してください' }, class: 'form-control', class: "shop-new-prefecture_code" %>
  </div>

  <div class="field">
    <%= form.label :address_city %><br />
    <%= form.text_field :address_city, class: "shop-new-address_city" %>
  </div>

  <div class="field">
    <%= form.label :address_street %><br />
    <%= form.text_field :address_street, class: "shop-new-address_street" %>
  </div>

  <div class="field">
    <%= form.label :address_building %><br />
    <%= form.text_field :address_building, class: "shop-new-address_building" %>
  </div>

  <div class="field">
    <%= form.label :phone_number %><br />
    <%= form.text_field :phone_number, class: "shop-new-phone_number" %>
  </div>

  <div class="field">
    <%= form.label :email %><br />
    <%= form.email_field :email, class: "shop-new-email" %>
  </div>

  <div class="field">
    <%= form.label :url %><br />
    <%= form.text_field :url, class: "shop-new-url" %>
  </div>

  <div class="field">
    <%= form.label :description %><br />
    <%= form.text_area :description, class: "shop-new-description" %>
  </div>

  <div class="field">
    <%= form.label :image %><br />
    <%= form.file_field :image, class: "shop-new-image" %>
  </div>

  <%= form.button :submit, id: "shop-new-submit" %>
<% end %>
