<% if current_user.is_owner? %>
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown link
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <%= link_to "店舗情報編集", edit_shop_path(@shop.id), class: "dropdown-item" %>
    <%= link_to "staff登録", new_staff_path, class: "dropdown-item" %>
    <%= link_to "menu登録", new_menu_path, class: "dropdown-item" %>
  </div>
<% end %>

<h1 class="shop_title"><%= @shop.name %></h1>
<div class="row shop_info">
  <% if @shop.image.present? %>
    <%= image_tag @shop.image.url, class:"shop_image col-md-3" %>
  <% else %>
    <%= image_tag "default_icon.png", class:"shop_image col-md-3" %>
  <% end %>
  <div class="col-md-5">
    <p>
    <i class="fas fa-map-marker-alt"></i>
    <%= @shop.prefecture.name %><%= @shop.address_city %><%= @shop.address_street %><%= @shop.address_building %>
    </p>
    <p><i class="fas fa-desktop"></i> <%= @shop.url %></p>
    <p><%= @shop.description %></p>
  </div>
  <div class="card-content col-md-4">
    <div class="content average-score">
      <div class="star-rating">
        <div class="star-rating-front" style="width: <%= @shop.review_score_percentage %>%">★★★★★</div>
        <div class="star-rating-back">★★★★★</div>
        <div class="average-score-display ml-3"><%= @shop.average_score %>点</div>
      </div>
    </div>
    <%= link_to "レビューを見る", shop_reviews_path(@shop.id) %>
  </div>
</div>

<ul class="row nav nav-tabs" role="tablist">
  <li class="nav-item col-md-3">
    <a class="nav-link active" id="menu-tab" data-toggle="tab" href="#menu" role="tab" aria-controls="menu" aria-selected="true">menu</a>
  </li>
  <li class="nav-item col-md-3">
    <a class="nav-link" id="staff-tab" data-toggle="tab" href="#staff" role="tab" aria-controls="staff" aria-selected="false">staff</a>
  </li>
  <li class="nav-item col-md-3">
    <a class="nav-link" id="reservation-tab" data-toggle="tab" href="#reservation" role="tab" aria-controls="reservation" aria-selected="false">reservation</a>
  </li>
  <li class="nav-item col-md-3">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="conract" aria-selected="false">contact</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade show active" id="menu" role="tabpanel" aria-labelledby="menu-tab">
    <h2>メニュー一覧</h2>
    <% @shop.menus.each do |menu| %>
      <div class="col-md-4">
        <div class="card">
          <p class="card-header"><%= menu.title %></p>
          <div class="card-body">
            <p class="card-title">価格：<%= menu.price %>円</p>
            <p class="card-title">所要時間：<%= menu.interval_min %>分</p>
            <p class="card-title"><%= menu.description %></p>
            <% if current_user.is_owner? %>
              <%= link_to "メニュー編集", edit_menu_path(menu.id), class: "btn btn-primary" %>
            <% else %>
              <%= link_to "予約する", new_menu_reservation_path(menu.id) %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="tab-pane fade" id="staff" role="tabpanel" aria-labelledby="staff-tab">
    <h2>スタッフ一覧</h2>
    <% @shop.staffs.each do |staff| %>
      <%= staff.name %>
      <p>整備士歴：<%= staff.work_history %>年</p>
      <p><%= staff.description %></p>
    <% end %>
  </div>

  <div class="tab-pane fade" id="reservation" role="tabpanel" aria-labelledby="reservation-tab">
    <% @shop.menu_reservations.each do |reservation| %>
      <p><%= reservation.start_scheduled_at %>~<%= reservation.end_scheduled_at %></p>
    <% end %>
    <div id="calendar"></div>
  </div>

  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    <h2>連絡先</h2>
    <p><i class="fas fa-phone-alt"></i> <%= @shop.phone_number %></p>
    <p><i class="fas fa-envelope"></i> <%= @shop.email %></p>
    <i class="fas fa-paper-plane"></i> <%= link_to '個別メッセージ', conversations_path(sender_id: current_user.id, recipient_id: @shop.user_id), method: :post %>
  </div>
</div>
