<img class="user_show_header" src="/assets/MyGarage.jpg">

<h2>マイページ</h2>

<div class="user_info row">
  <% if @user.image.present? %>
    <p><%= image_tag @user.image.url, class: "icon_image col-md-6" %></p>
  <% else %>
    <p><%= image_tag "default_user_icon.png", class: "icon_image col-md-6" %></p>
  <% end %>
  <div class="user_data col-md-6">
    <h3>名前 : <%= @user.name %></h3>
    <h3>メールアドレス : <%= @user.email %></h3>
  </div>
</div>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="reservation-tab" data-toggle="tab" href="#reservation" role="tab" aria-controls="reservation" aria-selected="true">予約情報</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="message-tab" data-toggle="tab" href="#message" role="tab" aria-controls="message" aria-selected="false">メッセージ</a>
  </li>
  <% if @user.is_owner? %>
    <li class="nav-item">
      <a class="nav-link" id="shop-tab" data-toggle="tab" href="#shop" role="tab" aria-controls="shop" aria-selected="false">Shop情報</a>
    </li>
  <% end %>
</ul>

<div class="tab-content">
  <div class="tab-pane fade show active" id="reservation" role="tabpanel" aria-labelledby="reservation-tab">
    <% @user.reservations.each do |reservation| %>
      <h4><%= reservation.menu.shop.name %></h4>
      <p>予約中のメニュー：<%= reservation.menu.title %></p>
      <p>来店予定日時：<%= reservation.start_scheduled_at %>~</p>
    <% end %>
    <div id="calendar"></div>
  </div>

  <div class="tab-pane fade" id="message" role="tabpanel" aria-labelledby="message-tab">
    <table class="table">
      <thead>
        <th scope="col">name</th>
        <th scope="col">link</th>
      </thead>
        <% @rooms.each do |room| %>
          <% if @user.is_owner? %>
            <tbody>
              <td><%= link_to room.sender.name, user_path(room.sender.id) %></td>
              <td><%= link_to '個別メッセージ', conversations_path(sender_id: room.sender_id, recipient_id: current_user.id), method: :post %></td>
            </tbody>
          <% else %>
            <tbody>
              <td><%= link_to room.recipient.shop.name, shop_path(room.recipient.shop.id)%></td>
              <td><%= link_to '個別メッセージ', conversations_path(sender_id: current_user.id, recipient_id: room.recipient_id), method: :post %></td>
            </tbody>
          <% end %>
        <% end %>
    </table>
  </div>

  <div class="tab-pane fade" id="shop" role="tabpanel" aria-labelledby="shop-tab">
    <% if @user.shop.present? %>
      <% @user.shop.menu_reservations.each do |reservation| %>
        <p><%= reservation.menu.title %>：<%= reservation.user.name %>様</p>
        <p><%= reservation.start_scheduled_at %>~<%= reservation.end_scheduled_at %></p>
      <% end %>
    <% end %>
  </div>
</div>
