<div id="calendar"></div>

<h4 class="mt-4"><%= @menu.title %>の予約一覧</h4>

<% @reservations.each do |reservation| %>
  <ul class="list-group">
    <li class="list-group-item">
      <h4><%= link_to reservation.user.name, user_path(reservation.user.id) %>様</h4>
      <p>来店予定日時：<%= l reservation.start_scheduled_at, format: :short %>~<%= l reservation.end_scheduled_at, format: :short %></p>
      <%= link_to '削除', menu_reservation_path(@menu, reservation), method: :delete, class: "btn btn-outline-danger", data: { confirm: '本当によろしいですか？' }, id: "reservation-index-destroy" if current_user = @menu.shop.user %>
    </li>
  </ul>
<% end %>
