<div id="calendar"></div>

<% @reservations.each do |reservation| %>
  <p><%= reservation.menu.title %></p>
  <p><%= reservation.user.name %>様</p>
  <p><%= reservation.start_scheduled_at %>~<%= reservation.end_scheduled_at %></p>
  <%= link_to '削除', menu_reservation_path(@menu, reservation), method: :delete, class: "btn btn-outline-danger", data: { confirm: '本当によろしいですか？' } if current_user = @menu.shop.user %>
<% end %>
