<h3>予約作成</h3>
<ul class="list-group">
  <li class="list-group-item">
    <h4>店舗名：<%= @menu.shop.name %></h4>
    <p>予約するメニュー：<%= @menu.title %></p>
    <p>説明文：<%= @menu.description %></p>
    <p>参考価格：<%= @menu.price %>円</p>
    <p>参考所要時間：<%= number_with_precision(@menu.interval_hour,precision: 2, strip_insignificant_zeros: true) %>時間</p>
  </li>
</ul>

<%= form_with(model: [@menu, @reservation], local: true) do |form| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= @reservation.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_scheduled_at %><br />
    <%= form.datetime_field :start_scheduled_at, id:"reservation-new-start_scheduled_at" %>
  </div>

  <div class="field">
    <%= form.label :end_scheduled_at %><br />
    <%= form.datetime_field :end_scheduled_at, id:"reservation-new-end_scheduled_at" %>
  </div>
  <p style="color: red;">※予約は、shopのreservation情報から空いている日時を確認の上、作成するとbetterです</p>

  <%= form.button :submit, id:"reservation-new-submit", class: "btn btn-primary mt-2" %>

<% end %>
