<!DOCTYPE html>
<html>
  <head>
    <title>Saver</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/97393c8142.js" crossorigin="anonymous"></script>
  </head>

  <body data-turbolinks="false" >
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/shops">Saver</a>
        <% if user_signed_in? %>
          <%= link_to "Shopを探す", shops_path %>
          <%= link_to "マイページ", user_path(current_user.id) %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <%= link_to "管理画面", rails_admin_path if current_user.is_admin? %>
        <% else %>
          <%= link_to "新規登録", new_user_registration_path %>
          <%= link_to "ログイン", new_user_session_path %>
        <% end %>
        <div class="alert-primary"><%= notice %></div>
        <div class="alert-warning"><%= alert %></div>
      </nav>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Copyright © 2021 WEF2101 Kajiyama Yuuki.</p>
      </div>
    </footer>
  </body>
</html>
