<!DOCTYPE html>
<html>
  <head>
    <title>Saver</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/97393c8142.js" crossorigin="anonymous"></script>
  </head>

  <body data-turbolinks="false" >
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/shops">Saver</a>
        <% if user_signed_in? %>
          <%= link_to "マイページ", user_path(current_user.id) %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <%= link_to "管理画面", rails_admin_path if current_user.is_admin? %>
          <% if current_user.is_owner? %>
            <% if current_user.shop.present? %>
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop menu
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to "マイ店舗ページ", shop_path(current_user.shop.id), class: "dropdown-item" %>
                <%= link_to "店舗情報編集", edit_shop_path(current_user.shop.id), class: "dropdown-item" %>
                <%= link_to "menu登録", new_menu_path, class: "dropdown-item" %>
                <%= link_to "staff登録", new_staff_path, class: "dropdown-item" %>
              </div>
            <% else %>
              <%= link_to "店舗登録", new_shop_path unless current_user.shop.present? %>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to "新規登録", new_user_registration_path %>
          <%= link_to "ログイン", new_user_session_path %>
        <% end %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </nav>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Copyright © 2021 WEF2101 Kajiyama Yuuki.</p>
      </div>
    </footer>
  </body>
</html>
