<!DOCTYPE html>
<html>
  <head>
    <title>Saver</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/97393c8142.js" crossorigin="anonymous"></script>
  </head>

  <body data-turbolinks="false" >
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/shops">Saver</a>
        <% if user_signed_in? %>
          <%= link_to "Shopを探す", shops_path, class: "btn btn-outline-success mr-1" %>
          <%= link_to 'Shopのオーナー申請はこちら', conversations_path(sender_id: current_user.id, recipient_id: User.find_by(is_admin: true).id), method: :post unless current_user.is_owner? %>
          <ul class="navbar-nav ml-auto">
            <%= link_to "マイページ", user_path(current_user.id), class: "btn btn-outline-primary mr-1" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger mr-1" %>
            <%= link_to "管理画面", rails_admin_path, class: "btn btn-outline-dark" if current_user.is_admin? %>
          </ul>
        <% else %>
          <%= link_to "Shopを探す", shops_path, class: "btn btn-outline-success" %>
          <ul class="navbar-nav ml-auto">
            <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-secondary mr-1" %>
            <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-secondary" %>
          </ul>
        <% end %>
        <div class="alert-primary"><%= notice %></div>
        <div class="alert-warning"><%= alert %></div>
      </nav>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Copyright © 2021 WEF2101 Kajiyama Yuuki.</p>
      </div>
    </footer>
  </body>
</html>
